/* Students:
 * =========
 * Add styling to your d3 chart with this file. */

 .chart {
 }

.state-abbr {
    font: bold 10px arial;
    fill: white;
}

.tooltip {
  position: absolute;
  width: 135px;
  height: 60px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: grey; //#551aaf;
  border: 0;
  border-radius: 10px;
}